# Conan generate files
/conan.lock
/conanbuildinfo.premake.lua
/conanbuildinfo.txt
/conaninfo.txt
/graph_info.json

# Visual studio 
/.vs/**
/**.sln
**.vcxproj
**.vcxproj.user
**.vcxproj.filters
/enc_temp_folder
/JSON

# Makefile
**/Makefile

# Build output & package
/build
/package

# Doxygen
/doc
