{% extends "../../skeleton/base.jinja" %}

{% block content %}
<h2 class="text-center">Configure Gateway</h2>

<form>
    <p class="fw-semibold">SMA Inverter (Modbus slave) connection details:</p>
    {# IP-Address #}
    <div class="mb-3 row">
        <label for="sci-bat-conf-gateway-ipaddr" class="col-sm-2 col-form-label">Address</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="sci-bat-conf-gateway-ipaddr" required>
        </div>
    </div>
    {# Port #}
    <div class="mb-3 row">
        <label for="sci-bat-conf-gateway-port" class="col-sm-2 col-form-label">Port</label>
        <div class="col-sm-10">
            <input type="number" min="0" max="65536" placeholder="502" class="form-control" id="sci-bat-conf-gateway-port" required>
        </div>
    </div>
    {# Modbus Node #}
    <div class="mb-3 row">
        <label for="sci-bat-conf-gateway-node" class="col-sm-2 col-form-label">Modbus Node</label>
        <div class="col-sm-10">
            <input type="number" min="0" max="247" placeholder="3" class="form-control" id="sci-bat-conf-gateway-node" required>
        </div>
    </div>
    {# Pollrate #}
    <div class="mb-3 row">
        <label for="sci-bat-conf-gateway-pollrate" class="col-sm-2 col-form-label">Pollrate (ms)</label>
        <div class="col-sm-10">
            <input type="number" min="1000" max="900000" class="form-control" id="sci-bat-conf-gateway-pollrate" required>
        </div>
    </div>
</form>

{# Feedback toast OK #}
<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
    <div id="sci-bat-conf-gateway-fb-toast-ok" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">Sucessfully saved changes</div>
        </div>
    </div>
</div>
{# Feedback toast error #}
<div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3">
    <div id="sci-bat-conf-gateway-fb-toast-err" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
        <div class="d-flex">
            <div class="toast-body">Failed saving changes</div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<hr>
<p class="text-center">
    <button class="btn btn-success" id="sci-bat-conf-gateway-save" disabled>Save Changes</button>
    <a href="{{ HOST }}/Settings" class="btn btn-danger">Discard Changes</a>
</p>
{% endblock %}

{% block script %}
<script src="{{ HOST }}/res/js/settings-a.js"></script>
<script src="{{ HOST }}/res/js/settings-gateway.js"></script>
{% endblock %}

