{% extends "../../skeleton/base.jinja" %}

{% block content %}
<h2 class="text-center">Settings</h2>

{# System status #}
{% if AUTH_LEVEL >= 1 %}
<p></p>
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">System status</h5>
        <p class="card-text">Allows you to access the current system status, view the logs and restart the service.</p>
        <a href="{{ HOST }}/Settings/Status" class="btn btn-info"><i class="fa-solid fa-wrench"></i> Configure</a>
    </div>
</div>
{% endif %}

{# Gateway #}
{% if AUTH_LEVEL >= 2 %}
<p></p>
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">Gateway (MQTT &lt;--&gt; modbus gateway)</h5>
        <p class="card-text">Allows you to configure the connection to the inverter.</p>
        <a href="{{ HOST }}/Settings/Gateway" class="btn btn-info"><i class="fa-solid fa-wrench"></i> Configure</a>
    </div>
</div>
{% endif %}

{# Mailbox #}
{% if AUTH_LEVEL >= 2 %}
<p></p>
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">Mailbox (MQTT Message Mailbox)</h5>
        <p class="card-text">Allows you to configure the connection to the MQTT-Broker and the base MQTT-Topic.</p>
        <a href="{{ HOST }}/Settings/Mailbox" class="btn btn-info"><i class="fa-solid fa-wrench"></i> Configure</a>
    </div>
</div>
{% endif %}

{# TControle #}
{% if AUTH_LEVEL >= 2 %}
<p></p>
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">TControle (Temperature controller)</h5>
        <p class="card-text">Allows you to configure the serial interface used for the temperature controller.</p>
        <a href="{{ HOST }}/Settings/TControle" class="btn btn-info"><i class="fa-solid fa-wrench"></i> Configure</a>
    </div>
</div>
{% endif %}

{# User acccounts #}
{% if AUTH_LEVEL >= 10 %}
<p></p>
<div class="card text-center">
    <div class="card-header">
        <h5 class="card-title">User accounts</h5>
        <p class="card-text">Allows you to configure the user accounts for the webpage.</p>
        <a href="{{ HOST }}/Settings/Accounts" class="btn btn-info"><i class="fa-solid fa-wrench"></i> Configure</a>
    </div>
</div>
{% endif %}
{% endblock %}
