<!doctype html>
<html lang="en">
  {# HTML HEAD #}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ TITLE }} | SCI-BAT</title>
    {% block head %}
    {% endblock %}

    {# Favicon #}
    <link rel="icon" type="image/png" href="{{ HOST }}/res/images/favicon.png" />

    {# CSS #}
    <link href="{{ HOST }}/res/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ HOST }}/res/fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href="{{ HOST }}/res/fontawesome/css/brands.css" rel="stylesheet">
    <link href="{{ HOST }}/res/fontawesome/css/solid.css" rel="stylesheet">
  </head>

  {# HTML BODY #}
  <body style="background: lightgray;">
    {# NAVBAR #}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        {# toggler #}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {# content #}
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          {# BRAND #}
          <a class="navbar-brand" href="#!">SCI-BAT</a>
          <span class="text-muted">HEMS enabled smart battery controler</span>
          {# ITEMS #}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {% if _S_LEVEL == 0 %}active{% endif %}" aria-current="page" href="{{ HOST }}/">Home</a>
            </li>
            {% if _S_LEVEL >= 1 %}
            <li class="nav-item">
              <a class="nav-link {% if _S_LEVEL == 1 %}active{% endif %}" href="{{ HOST }}/{{ _SECTION }}">{{ _SECTION }}</a>
            </li>
            {% endif %}
            {% if _S_LEVEL >= 2 %}
            <li class="nav-item">
              <a class="nav-link active" href="{{ HOST }}/{{ _SECTION }}/{{ _SUB_SECTION }}">{{ _SUB_SECTION}}</a>
            </li>
            {% endif %}
          </ul>
          {# Form #}
          <form class="d-flex" role="search" action="{{ HOST }}/auth?destroy" method="POST">
            {% if USERNAME == "" %}
            <a class="btn btn-outline-success" href="{{ HOST }}/auth">Login</a>
            {% else %}
            <span class="navbar-text">Welcome {{ USERNAME }} &nbsp;</span>
            <button class="btn btn-outline-danger" action="submit">Logout</a>
            {% endif %}
          </form>
        </div>
      </div>
    </nav>

    {# CONTENT #}
    <a href="{{ HOST }}" class="invisible" id="sci-bat-host"></a>
    <div class="container-md mt-3">
      <div class="card">
        <div class="card-body">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>

    {# No Script #}
    <noscript>
      <div class="alert alert-danger m-3" role="alert">
        JavaScript disabled. <b>Without JavaScript the application will not work properly!</b> Please enable JavaScript.
      </div>
    </noscript>

    {# FOOTER #}
    <div class="alert alert-primary m-3" role="alert">
      &copy; Copyright 2022-2023 Munich university of applied sciences <br/>
      &copy; Copyright 2022-2023 Smart Chaos Integration
    </div>

    {# 3RD PARTY #}
    <div class="ms-3">
      <a class="text-decoration-none link-secondary" href="{{ HOST }}/FOSS">FOSS</a>
    </div>

    {% block body %}
    {% endblock %}

    {# SCRIPTS #}
    <script src="{{ HOST }}/res/js/jquery-3.6.1.min.js"></script>
    <script src="{{ HOST }}/res/js/bootstrap.bundle.min.js"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>
