[Unit]
Description=sci-bat gateway
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=www-data
ExecStart=/usr/bin/sci-bat -c /etc/sci-bat/ -a /usr/bin/sci-bat.d/

[Install]
WantedBy=multi-user.target
